<div class="flex flex-col h-full w-full bg-(--bg-100) overflow-y-auto">
    <div class="p-2 mt-4 md:p-6 lg:p-8 max-w-5xl mx-auto w-full">
        
        <div class="flex justify-between items-center border-b border-(--bg-300) pb-4 sm:pl-5">
            <h1 class="text-2xl sm:text-3xl font-semibold text-(--text-100) flex items-center gap-3">
                <i-lucide [name]="historyIcon" class="w-8 h-8 hidden sm:inline-flex"></i-lucide>
                Histórico
            </h1>
            
            @if (historyItems().length > 0) {
                <button (click)="clearHistory()" 
                    class="flex items-center gap-2 p-2 text-red-500 hover:scale-105 rounded-lg text-sm sm:text-base cursor-pointer">
                    <i-lucide [name]="trashIcon" class="w-4 h-4 hidden sm:inline-flex"></i-lucide>
                    Limpar Histórico
                </button>
            }
        </div>

        @if (historyItems().length === 0) {
            <div class="flex flex-col items-center justify-center py-20 text-(--text-300)">
                <i-lucide [name]="historyIcon" class="w-16 h-16 text-(--bg-300)"></i-lucide>
                <p class="text-xl mt-3">Seu histórico está vazio</p>
            </div>
        } @else {
            <div class="flex flex-col gap-2 mt-8">
                @for (item of historyItems(); track item.timestamp) {
                    <div (click)="navigateToItem(item)" 
                        class="group flex items-center justify-between sm:px-4 py-2 hover:bg-[#F8F8F8] rounded-sm cursor-pointer border border-transparent hover:border-(--bg-300)">
                        
                        <div class="flex items-center gap-5">
                            <div class="px-2 text-(--text-200) hidden sm:inline-flex">
                                @if (item.type === 'search') {
                                    <i-lucide [name]="searchIcon" class="w-6 h-6"></i-lucide>
                                } @else {
                                    <i-lucide [name]="articleIcon" class="w-6 h-6"></i-lucide>
                                }
                            </div>
                            
                            <div class="flex flex-col">
                                <span class="text-(--text-100) text-lg">{{ item.termOrTitle }}</span>
                                <span class="text-sm text-(--text-300)">
                                    {{ item.type === 'search' ? 'Busca realizada' : 'Artigo visualizado' }}
                                </span>
                            </div>
                        </div>

                        <span class="text-sm text-(--text-300) whitespace-nowrap">
                            {{ formatDate(item.timestamp) }}
                        </span>
                    </div>
                }
            </div>
        }
    </div>
</div>
