<div class="flex flex-col h-screen w-full md:flex-row">
    
    <div class="md:hidden flex items-center justify-between p-4 bg-(--bg-400) text-white relative z-20">
        <span class="font-semibold text-xl">WikiSearch</span>
        @if (!isMobileMenuOpen()) {
            <button (click)="toggleMobileMenu()" class="text-white cursor-pointer">
                <i-lucide [name]="menuIcon"></i-lucide>
            </button>
        }
    </div>

    <aside class="hidden md:flex md:flex-col md:w-48 lg:w-64 bg-(--bg-400) md:pt-6">
        <app-menu/>
    </aside>

    @if(isMobileMenuOpen()) {
        <div class="fixed inset-0 bg-black/50 md:hidden z-40" (click)="toggleMobileMenu()"></div>
        <div class="fixed top-0 left-0 h-full w-64 bg-(--bg-400) md:hidden animate-slide-right flex flex-col z-50">
            <div class="flex justify-end p-5">
                <button (click)="toggleMobileMenu()" class="text-white cursor-pointer">
                    <i-lucide [name]="closeIcon"></i-lucide>
                </button>
            </div>
            <app-menu/>
        </div>
    }

    <main class="flex-1 h-full min-h-0 overflow-y-auto flex flex-col">
        <router-outlet></router-outlet>
    </main>
</div>
