<header class="flex items-center justify-between gap-4 p-3
                   sm:p-4 sm:gap-3
                   md:flex-row md:py-5 md:px-6
                   lg:py-6 lg:px-10
                   flex-col">
    <div class="flex items-stretch h-10 border border-(--bg-400) rounded-sm overflow-hidden
                    sm:h-12 w-full">
        <input type="text" class="flex-1 pl-2 lg:px-4 outline-none font-semibold text-(--text-200)
                       placeholder:text-(--text-400) placeholder:font-normal" placeholder="Search in Wikipedia"
            [value]="searchInput()" (input)="searchInput.set($event.target.value)"
            (keydown.enter)="onSearch($event, searchInput())" />
        <button class="flex items-center justify-center w-10 h-full border-none cursor-pointer
                           hover:scale-110 sm:w-11 lg:pr-3" title="Search" (click)="onSearch($event, searchInput())">
            <i-lucide [name]="searchIcon"></i-lucide>
        </button>
    </div>

    @if(searchService.hasFavorited()===true){
        <div class="flex items-center justify-center gap-1 h-10 px-4
                     font-semibold text-(--text-200) whitespace-nowrap
                     sm:h-11 sm:text-lg md:justify-start">
            <img class="h-8 w-8" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsT
            AAALEwEAmpwYAAACu0lEQVR4nO2ZS2sTURTHr28FRUSoC4ViMHPOxLYqRUVcuPEruNKFKPgV+gHEKoiCC4WCILhoaXzW+t50Ydvk3MRdVXBRF924sCAIvmrzl5m0
            SYa8JnHuZEbyh7OcM7//OfdO7rlRqquuujImCB9zQsVV0PwCws9VHIUsD0K4AM1ALnlExU3Q9NSFd4MmVZwEbR8qVb8U1mEVF0F4wgvPgPBjFQdBUgerq+8aKDj7Q
            kVd0PSwCr5kgh6oKAti74fwcn0DXEDGGlBRFTSn68KXY1xFUcimUg2rX+7CMvLUr6ImCI35qP7qXhhVURIySdtX9Su7oLmvM7AziR7krOMQOgvhSyvr/pNv+HI4z6T
            dHE4uJ+dMoicYyDf9O4pnGToF4SEIj0B4GsJf2wBtNX5A07tiYegKNF+Atk9CJxPNwYWGoWkxBMg2gxYdxvoGPu7bBOEnnQflevESs3u2NO7CXGojND2KACw8IfQMU
            72b/e2B/OAGCN+P0NKZdFaHL/iSibRaB6G7nYfncaegLcF7TGi+08FlM4qpE+vbgi+ZgFoDoZsdWDa3AbX2n+A9JjTfCK/yPBIYvMeE0PUQDNxy3hUovMeI5osGK3/V
            GHjbJ0//G3YsFPiiAb5noAPpMA18MGDgfTjwznlJ01LwBmip5V/btq9NTG3ibPKAeQPaOmPuK0SnQzBAlw0aGDZvwOS8IDxh3oDmeZ9AC8Vx0I0Fn8/Mm4WfS22tee/
            p/Zp8cefoismpOCQ5Ruhzkw4UME3bzBnI20cbrN9v7hCeT2xvUoChhpcDOYN/hiBrn68B/ss9PWb6dvnOI7xz5cbhe40OnjNnoPI0KvTbndiy1t62880md7vHdOGfFQ
            auBUtd+UKh1yt7II2MnQws71u71+2i5j/Q9CqovNUvcpeKuetxZKwB5x2m8nfV1f+ov0WA2bF0AkOGAAAAAElFTkSuQmCC" alt="filled-star--v1">
            <span>Favorited term</span>
        </div>
    } @else {
        <button class="flex items-center justify-center gap-2 h-10 px-4 cursor-pointer
                       font-semibold text-(--text-200) whitespace-nowrap
                       sm:h-11 sm:text-lg md:justify-start hover:scale-105"
                       [class.hidden]="searchService.hasSearched()===false"
                       (click)="searchService.addFavorite(searchInput())">
        <i-lucide [name]="starIcon" color="#cdd016"></i-lucide>
        <span>Favorite term</span>
    </button>
    }
</header>