@import "tailwindcss";

:root {
    --accent-200:#ffc993;
    --text-100:#000000;
    --text-200:#2c2c2c;
    --text-300: #818181;
    --text-400: #9c9c9c;
    --bg-100:#FFFFFF;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc; 
    --bg-400: #2c2c2c;  
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

app-root {
    display: block;
    height: 100%;
    width: 100%;
}
